@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --purple-text-color: #5722CD;
    --bg-blue-color: #4845E4;
    --pink-button-color: #ED4385;
    --black-text-color: #0C0C0C;
    --bg-lg-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --bg-words-color: #F2F0FF; /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --gray-text-color: #7A7A7A; /*(voor de service-tegel tekst)*/
}
body{
    display: flex;
    flex-direction:column;
    width: 100vw;
}
/* ------------------------------- 2. Typography ----------------------------------- */
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container{
    border: 2px solid purple;
    display: flex;
    justify-content: center;
}
.inner-container{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px;
}
.inner-container-small{
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 20px;

}
button{
    background-color: var(--pink-button-color);
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 37px;
    color: var(--bg-lg-color);
    text-transform: uppercase;
}
a, a:visited a:link{
    color: var(--purple-text-color);
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.nav-bar{
    width: 100%;
    border: 2px dotted red;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 20rem;
}

.header{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    color: var(--bg-lg-color);
    text-align: center;
}
header h1{
    padding: 30px 0;
}

.header-image{
height: 4rem;
}
/* --------------- 4.2 Introduction ------------------- */
#intro{
    color: var(--purple-text-color);
}
/* ------------------------------- 5. Media Queries -------------------------------- */