@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #5722CD;
    --blue-color: #4845E4;
    --pink-color: #ED4385;
    --black-color: #0C0C0C;
    --lightgrey-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --bg-words-color: #F2F0FF; /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --gray-text-color: #7A7A7A; /*(voor de service-tegel tekst)*/
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/
h1, h2, h3, #intro {
    font-family: 'Merriweather', serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 40px 40px;
}

.inner-container-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 40px;
    flex-wrap: wrap;
    padding: 8rem 0;
}

button {
    background-color: var(--pink-color);
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 37px;
    color: var(--lightgrey-color);
    text-transform: uppercase;
    box-shadow: 0 8px 10px #5722CD;
    cursor: pointer;
}

/* --------------- 3.2 Other --------------------------- */
a, a:visited a:link {
    color: var(--purple-color);
}

img {
    width: 100%;
    height: auto;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30rem;
}

.nav-bar-link {
    color: var(--lightgrey-color);
    text-decoration: none;
}

header {
    background: linear-gradient(140deg, rgba(72, 69, 228, 1) 53%, rgba(87, 34, 205, 1) 96%);
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    border-top: 70px solid transparent;
    border-left: 100vw solid white;
    border-bottom: 0 solid transparent;
    bottom: 0;
    left: 0;
}

.header {
    color: var(--lightgrey-color);
    text-align: center;
    margin-bottom: 50px;
}

.header-text {
    padding: 50px 0;
}

header h1 {
    padding: 40px 0;
}

.header-image {
    position: absolute;
    height: 4rem;
    bottom: 20px;
}

/* --------------- 4.2 Introduction ------------------- */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--purple-color);
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;
    position: relative;
}

.intro p {
    padding: 10px;
}
.small-text {
    font-size: 12px;
}


.intro:after{
    content: "hello";
    border: 2px solid green;
    position: absolute;
    color: var(--bg-words-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 400px;
    z-index: -1;
    top: -150px;

}


/* --------------- 4.3 Work ---------------------------- */
.case-studies-wrapper {
    background-color: var(--lightgrey-color);
    color: var(--black-color);
    position: relative;
}

.case-studies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.case-studies-image {
    font-size: 0; /* to remove white line under picture */
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 0 10px 5px grey;
}

.case-studies-text {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.squiggle {
    margin: 20px 0;
}

.case-studies-1 {
    flex-direction: row-reverse;
}

.case-studies-2 {

}

.case-studies-3 {
    flex-direction: row-reverse;
}

.view-project-link {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 50px 0;
    position: relative;
}

.view-project-link::after {
    display: block;
    content: "";
    width: 25px;
    height: 3px;
    background-color: var(--purple-color);
    transition: width .35s ease-in-out;
    position: absolute;
    left: 150px;
    bottom: 60px;
}

.view-project-link:hover::after {
    width: 50%;
}

#case-studies-border {
    padding: 8rem 0;
}

#case-studies-border::after {
    content: "";
    position: absolute;
    border-top: 0 solid transparent;
    border-right: 100vw solid white;
    border-bottom: 70px solid transparent;
    top: 0;
    left: 0;
}

/* --------------- 4.4 Service ---------------------------- */
.service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid purple;
    position: relative;
}

h3 {
    color: var(--purple-color);
    padding: 10px 0;
}

.service {
    border: 2px solid var(--purple-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 350px;
    margin: 20px;
    padding: 30px;
    color: var(--gray-text-color);
    font-size: 15px;
    box-shadow: 0 5px 10px grey;
}

.service-icon {
    width: 50px;
    height: auto;
}

#service {
    padding: 16rem 0 8rem 0;
}
#service::after {
    content: "";
    position: absolute;
    border-top: 0 solid transparent;
    border-right: 100vw solid var(--lightgrey-color);
    border-bottom: 70px solid transparent;
    top: 0;
    left: 0;
}
.service-wrapper::after{
    content: "services";
    border: 2px solid green;
    position: absolute;
    color: var(--bg-words-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 300px;
    z-index: -1;
    top: -270px;
}

/* --------------- 4.5 Contact ---------------------------- */
.contact {
    background: linear-gradient(140deg, rgba(72, 69, 228, 1) 53%, rgba(87, 34, 205, 1) 96%);
    color: var(--lightgrey-color);
}

.contact h2 {
    font-size: 2.75rem;
    margin: 30px;
}

#contact {
    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    font-weight: 700;
}

#form-button {
    display: flex;
    justify-content: center;
}

input, textarea {
    padding: 10px;
    margin: 0 0 30px 0;
}

form button {
    font-weight: 700;
    flex-basis: 150px;
    padding: 20px;
}

#contact-border {
    padding: 8rem 0 0 0;
}

#contact-border::after {
    content: "";
    position: absolute;
    border-top: 0 solid transparent;
    border-right: 100vw solid white;
    border-bottom: 70px solid transparent;
    top: 0;
    left: 0;
}

/* --------------- 4.6 Footer ---------------------------- */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    color: var(--lightgrey-color);
    padding: 15px;
    font-size: 15px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */
@media screen and (max-width: 576px) {
    .nav-bar {
        justify-content: center;
    }

    .case-studies {
        flex-direction: column;
        margin: 20px 0;
    }

    .case-studies-image {
        flex-basis: auto;
    }
    .intro:after{
        top: -90px;
        font-size: 150px;
    }
    .service-wrapper::after {

        font-size:100px;
        top: -70px;
    }
}
