@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;500;700&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --purple-text-color: #5722CD;
    --bg-blue-color: #4845E4;
    --pink-button-color: #ED4385;
    --black-text-color: #0C0C0C;
    --bg-lg-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --bg-words-color: #F2F0FF; /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --gray-text-color: #7A7A7A; /*(voor de service-tegel tekst)*/
}
body{
    display: flex;
    flex-direction:column;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
/* ------------------------------- 2. Typography ----------------------------------- */
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/
h1,h2,h3,#intro{
    font-family: 'Merriweather', serif;
    }
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container{
    /*border: 2px solid purple;*/
    display: flex;
    justify-content: center;
}
.inner-container{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1400px;
    margin: 40px 40px;

}
.inner-container-small{
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 40px;

}
button {
    background-color: var(--pink-button-color);
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 37px;
    color: var(--bg-lg-color);
    text-transform: uppercase;
    box-shadow: 0 8px 10px #5722CD;
}

/* --------------- 3.2 Other --------------------------- */
a, a:visited a:link{
    color: var(--purple-text-color);
}
img {
    width: 100%;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
minimize {
    .nav-bar {
        width: 100%;
        border: 2px dotted red;
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

    }

    #nav-bar {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 30rem;
    }

    .header {
        background: linear-gradient(140deg, rgba(72, 69, 228, 1) 53%, rgba(74, 8, 155, 1) 96%);
        color: var(--bg-lg-color);
        text-align: center;
        margin-bottom: 50px;
        position: relative;
    }

    .header-text {
        margin-bottom: 100px;
    }

    header h1 {
        padding: 40px 0;
    }

    .header-image {
        position: absolute;
        height: 4rem;
        bottom: 0;
    }
}
/* --------------- 4.2 Introduction ------------------- */
minimize {
    #intro {
        color: var(--purple-text-color);
        text-align: center;
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 50px;
    }

    #intro p {
        padding: 10px;

    }

    #small-text {
        font-size: 12px;
    }
}
/* --------------- 4.3 Work ---------------------------- */
.work-wrapper{
    background-color: var(--bg-lg-color);
}
.work{
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
}
.work-image{
    border: 2px solid blue;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}
.work-text{
    border: 2px solid crimson;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-1{
    flex-direction: row-reverse;
}
.work-2{

}

.work-3{
    flex-direction: row-reverse;
}
/* --------------- 4.4 Service ---------------------------- */


/* --------------- 4.5 Footer ---------------------------- */
footer{
    display: flex;
    justify-content: center;
    background-color: var(--black-text-color);
    color: var(--bg-lg-color);
    padding: 15px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */